$main-color: #AAC8E9;
img {
    width: 100%;
}

h1,
h2,
h3,
p {
    color: #37352F;
}

a {
    color: #7A7975;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 50px;
}

h2 {
    background-color: $main-color;
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 100px;
}

p {
    line-height: 2;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .2);

    .logo {
        width: 150px;
    }
}

.header-inner {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-ul {
    display: flex;
    // align-items: center;
    // justify-content: space-between;
}

.header-li {
    padding-left: 40px;
    font-weight: bold;

    a {
        color: #37352F;
        text-decoration: none;
    }
}

.mobile-menu_btn {
    display: none;
}

.mobile-header {
    transform: translateX(100%);
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
}


main {
    max-width: 800px;
    width: 80%;
    margin: 150px auto;
}

.sub-tit {
    margin-top: 70px;
    margin-bottom: -60px;
}

.info-tit {
    margin: 30px 0 10px 0;
}

.work {
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    img {
        max-height: 300px;
        object-fit: contain;
        margin: 0 auto;
        margin-bottom: 30px;
        display: block;
    }
    .d-flex img {
        max-width: 450px;
        width: 70%;
    }
}

.details {
    margin-top: 30px;
}

.people {
    height: 200px;
    width: 20%;
    object-fit: cover;
    margin-top: 50px;
}

.carrier-item {
    display: flex;
    .carrier-year {
        white-space: nowrap;
        width: 20%;
    }
    .carrier-content {
        width: 80%;
    }
}

@media all and (max-width:650px) {
    main {
        width: 90%;
        margin: 100px auto;
    }
    .d-flex {
        display: block;
    }
    .d-none {
        display: block;
    }
    .d-block {
        display: none !important;
    }
    h1 {
        font-size: 2rem;
    }
    .mobile-menu_btn {
        border: none;
        cursor: pointer;

        span {
            background-color: #37352F;
            width: 20px;
            height: 1px;
            display: block;
            margin: 0 auto ;
        }
    }
    .people {
        display: block;
        width: 50%;
        margin: 0 auto;
        margin-top: 30px;
    }
    .carrier-item {
        display: block;
        padding: 10px 0;
        &:first-of-type {
            padding: 0 0 10px;
        }
        .carrier-year {
            width: 100%;
        }
        .carrier-content {
            width: 100%;
        }
    }
}
